NODE_ENV='development'
CONTAINER_PREFIX='billing_system'
 
# POSTGRES
# ------------

POSTGRES_RELEASE='16'
POSTGRES_HOST="localhost"
POSTGRES_USERNAME='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_DB='postgres'
POSTGRES_PORT='5443'
DATABASE_URL="postgresql://postgres:postgres@localhost:5443/postgres"

# JWT CONFIG
# --------------
# openssl rand -base64 32

JWT_SECRET='generated secret ^'
JWT_REFRESH_TOKEN_EXPIRES_IN='7d'
JWT_ACCESS_TOKEN_EXPIRES_IN='1d'

# GOOGLE AUTH
# -------------
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# BACKEND
# -----------

APP_PORT='8080'

# FRONTEND
# ----------

FRONTEND_URL='http://localhost:3000'
ALLOWED_URLS='http://localhost:5173,http://localhost:3000,http://localhost:8080'
 
#  MAILERs SMPT
# ------------

SMTP_USER=''
SMTP_PASS=''
SMTP_HOST=''
SMTP_PORT=''
MAIL_SEND_FROM=''

# REDIS
# -----------

REDIS_HOST='localhost'
REDIS_PORT='6377'


#  S3 Service
# ------------

S3_BUCKET_ID=public
S3_DOMAIN_NAME="http://localhost:9110"
S3_ENDPOINT="http://localhost:9110"
S3_ACCESS_KEY="strong key"
S3_SECRET_KEY="strong key"

# MINIO
# ------------
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="password"
 

#  STIPE
# ------------
STRIPE_SECRET_KEY=''