NODE_ENV=
APP_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
DATABASE_URL=

JWT_SECRET=secret
JWT_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_EXPIRES_IN=

FRONTEND_URL=

EMAIL_ID=user@outlook.com
EMAIL_PASS=password
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587


S3_BUCKET_ID=bucket name
R2_ENDPOINT=https://*******.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=